<div fxLayoutGap="30px" class="heading">
  <div class="image">

    <!-- Profile Photo (left)-->
    <img src="./assets/img/profile.jpg" alt="Caleb Ardern">
  </div>

  <div class="content">
    <!-- Details (Right) -->
    <h1>
      Caleb Ardern
    </h1>
    <h2> Software Developer</h2>
    <!-- <p><b>Mobile:</b> TBC</p>
            <p><b>Email:</b> TBC</p>
            <p><b>Linkedin:</b> TBC</p> -->
    <b></b>
    <p>
      <a href="https://www.linkedin.com/in/calebgardern/">Linkedin</a> |
      <a href="https://github.com/Bookrage001">Github</a>
    </p>
    <p><b>Bachelor of Science in Information Technology and Bachelor of Creative Intelligence and Innovation</b>
    </p>
  </div>
</div>

<div class="pair">
  <div class="element">
    <h3>
      About me:
    </h3>
    <p>
      I love to engage with professionals in a multi-disciplinary manner as I enjoy learning and understanding
      other individuals and their individual perspectives and views in their respective fields. I am always keen
      to learn new skills and knowledge in the workplace and how to apply them to solve problems. I enjoy
      understanding, exploring, experimenting and researching technology in my free time.
    </p>
  </div>
  <!-- <div class="element">
    <h3>
      Skills
    </h3>
    <ol>
      <li>Cloud</li>
      <li>Networking</li>
      <li>Identity and Access Management</li>
    </ol>
  </div> -->
  <div class="element">

    <h3>
      Reference:
    </h3>
    <i>
      "Caleb is a highly independent software developer who grasps complex problems and can translate
      them into
      intelligent solutions. I've worked with Caleb for several years and have sincerely appreciated his can-do
      attitude. He's a team player and is always willing to assist his colleagues to get results. He'd be an asset
      for any team who needs a developer with strong core technical skills across a range of development and cloud
      technologies. "
    </i> - Dan Bligh (Manager)
  </div>
</div>

<div>
  <h1>Education</h1>
  <hr />

  <div>
    <b>Amazon Web Services</b>
    <p>
      <img src="./assets/img/aws-certified-cloud-practitioner.png" alt="Caleb Ardern">
    </p>
  </div>

  <div>
    <p><b>Bachelor of Science in Information Technology and Bachelor of Creative Intelligence and Innovation</b></p>
  </div>

  <div>
    The University of Technology Sydney <br />
    Major: Enterprise Systems Development<br />
    Sub Major: Network Security<br />
    2017 - 2020<br />
  </div>

  <p><b>Diploma of Networking In Information Technology</b></p>
  <div>
    Tafe NSW - Ourimbah campus <br />
    2016
  </div>

  <p><b>Certificate IV of Networking In Information Technology</b></p>
  <div>
    Tafe NSW - Ourimbah campus <br />
    2016
  </div>

  <div>
    Loook at me

    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="21dfa770-50bd-4e08-b620-7e8699847a21"
      data-share-badge-host="https://www.credly.com">
    </div>
    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </div>

  <h1>Personal Attributes</h1>
  <hr />
  <div>
    <ul>

      <li>
        <b>Critical Thinking and Troubleshooting:</b> I am always learning from professionals and finding issues
        in
        order to understand issues and to propose effective solutions.
      </li>

      <li>
        <b>Interpersonal Skills:</b> I have the ability to work with a wide range of individuals from different
        age
        groups and skill sets.

      </li>

      <li>
        <b>Teamwork:</b> I actively listen well to others opinions and aim to understand them by clarifying
        before
        trying to help them in their task.
      </li>

      <li>
        <b>Learner:</b> I often try to learn new skills to use in my day to day life
        as well as in my work life. Through this I understand how different systems work and operate. This helps
        inform me to understand how i can best innovate and take inituite in the workplace
      </li>

      <li>
        <b>Teacher:</b> Once I have learnt any skill I am happy to share my knowledge
        with others. As well as to manage and coordinate with other people in a flexible manner. .
      </li>
    </ul>
  </div>
</div>

<div>
  <h1>Professional Experience</h1>
  <hr />

  <div>
    <b>Technology associate</b> <br />

    Commonwealth Bank of Australia: June 2021 - Jan 2022

    <p>
      Managed and delivered a C# .Net application.
      Worked in the workplace technologies team to deliver a VPN solution rollout as an Engineer.
      Investing time in working on Developing tools to improve Engineers' ways of working.

    </p>
  </div>

  <div>
    <b>ICT Officer</b> <br />
    Green Point Christian College: March 2021 - December 2021


    <p>
      Service desk engineer helping staff and students
      Investigate and analyse workplace practices to optimise workflow, load and efficacy of the ICT department.


    </p>
  </div>

  <div>
    <b>Innovation Student</b> <br />

    Bachelor of Creative Intelligence and Innovation (UTS) - 2017-2020

    <p>
      As a part of my Bachelor of Creative Intelligence and Innovation I had the unique opportunity of working
      with a wide range of industry partners to formulate different products and solutions to solve a wide range
      of issues. These partners included Telstra, Delloit, City of Sydney, Transport NSW, Two Collaborate. In
      these experiences I had the opportunities to work collaboratively to innovate and present ideas, potential
      pathways or products that they could utilise in the future. This course has also been a great time for
      increasing my IQ and improving a wide range of skills. </p>
  </div>

  <div>
    <b>Software Developer</b> <br />

    Assertiv Pty Ltd: 2018 - Present

    <p>
      During my time at Assertiv I had the opportunity to work individually on tasks where I had the opportunity
      to work on a Full stack of development on AWS. This included the use of Node.js using typescript and the
      angular stack. The work I completed included both front end development and backend. Through both of these
      opportunities I was tasked to update and design different aspects of the application. I have also had the
      opportunity to talk to my managers about different initiatives that we could implement in the workplace.
    </p>
  </div>

  <div>
    <b>Software Developer</b> <br />

    Assertiv Pty Ltd: 2018 - Present

    <p>
      Working independently to complete a wide variety of tasks using my research skills and technical skills.
      This included learning and using yaml to automate the deployment of a client's environment. Deployment and
      integration of containers into foreign clients environments. Designing and implementation of the internal
      infrastructure at Assertiv.
    </p>
  </div>

  <div>
    <b>Ev Church</b> <br />

    Volunteer 2016 - Present

    <p>
      Assisting with the management of electrical needs of a medium business, customer service, assistance with
      general IT implementation of FreePBX and 3cx Deployment and ongoing maintenance. I am a valuable production
      personnel. My role continuously changes and has included controlling projectors, laying cables, managing
      lights and to manage and assist in other areas of production. This includes managing electrical needs while
      organising and leasing with other businesses for events.
      I have also assisted in the running of a range of different activities for a wide range of children In a
      wide range of roles.

    </p>
  </div>


  <div>
    <b>Casual Employee</b> <br />

    VOIP Pty Ltd: 2016 - 2018

    <p>
      Installation of Routers and Switches into travel cases for Macquarie Telecom end customer Australian Unity.
      Ongoing testing & refurbishment of 1300 plus AVAYA / Nortel phones for Optus end customer Australian Tax
      Office.Assistance IT with internal building refurbishment at VoIP Pty Ltd. Switch Patching, Testing
      connectivity, assembled PCs & cabling etc. Cisco Phone Deployment for the Department of Immagration and
      Border Protection Ongoing testing & refurbishment of 13000 plus AVAYA / Nortel phones for Optus end customer
      Australian Tax Office.
      .

    </p>
  </div>


</div>
