<div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
        <!-- Profile Photo (left)-->
        <img src="./assets/img/profile.jpg" alt="Caleb Ardern" style="width: 20%">
    </div>
    <div>
        <!-- Details (Right) -->
        <h1>
            Caleb Ardern
        </h1>
        <p><b>Mobile:</b> 0435875170</p>
        <p><b>Email:</b> 0435875170</p>
        <p><b>Linkedin:</b> 0435875170</p>
        <p><b>GitHub:</b> 0435875170</p>
        <p><b>Bachelor of Science in Information Technology and Bachelor of Creative Intelligence and Innovation</b></p>
    </div>
</div>