.print-action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  button {
    margin: 0;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  width: 20%;
}

.content {
  width: 80%;
}

.pair {
  display: flex;
}

.pair .element {
  padding: 2%;
  width: 50%;
}

@media (max-width: 400px) {
  .print-action {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e6ec;
    order: -1;
  }

  .pair {
    display: block;
    .element {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    .image {
      width: 100%;
      margin: 0 0 10px 0;
      max-width: 100%;
    }
    .content {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
