<h1>TickTackToe</h1>
<div class="display">
    <div class="game">
        <div class="board">
            <button class="Nice" (click)="select('OneOne')" id="OneOne"></button>
            <button class="Nice" (click)="select('TwoOne')" id="TwoOne"></button>
            <button class="Nice" (click)="select('ThreeOne')" id="ThreeOne"></button>
            <button class="Nice" (click)="select('OneTwo')" id="OneTwo"></button>
            <button class="Nice" (click)="select('TwoTwo')" id="TwoTwo"></button>
            <button class="Nice" (click)="select('ThreeTwo')" id="ThreeTwo"></button>
            <button class="Nice" (click)="select('OneThree')" id="OneThree"></button>
            <button class="Nice" (click)="select('TwoThree')" id="TwoThree"></button>
            <button class="Nice" (click)="select('ThreeThree')" id="ThreeThree"></button>
        </div>
        <div class="reset">
            <button id="Reset" (click)="RESET()">Reset</button>
        </div>
    </div>
</div>