<mat-nav-list style="padding: 20px;">

    <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="onSidenavClose()">Home</a>
    <a mat-list-item routerLink="/about-me" routerLinkActive="active-link" (click)="onSidenavClose()">About Me</a>
    <a mat-list-item routerLink="/blog" routerLinkActive="active-link" (click)="onSidenavClose()">Blog</a>
    <a mat-list-item routerLink="/products" routerLinkActive="active-link" (click)="onSidenavClose()">Projects</a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="onSidenavClose()">Dashboard</a>
    <a mat-list-item routerLink="/games" routerLinkActive="active-link" (click)="onSidenavClose()">Games</a>

</mat-nav-list>
