<div class="content text-center">

</div>
<div fxLayout="row">
  <div class="menu">
    <button (click)="setView(CalendarView.Day)">
      Day
    </button>
    <button (click)="setView(CalendarView.Week)">
      Week
    </button>
    <button (click)="setView(CalendarView.Month)">
      Month
    </button>
  </div>

  <div>
    <div class="col-md-4">
      <h3>{{ viewTitle }}</h3>
    </div>

  </div>

  <div class="menu">
    <button (click)="navigatePrevious()">
      Previous
    </button>

    <button (click)="navigateToday()">
      Today
    </button>

    <button (click)="navigateNext()">
      Next
    </button>
  </div>

</div>
<br />
<div>
  @switch (view) {
    <!-- Month -->
    @case (CalendarView.Month) {
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
    }
    <!-- Week -->
    @case (CalendarView.Week) {
      <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
    }
    <!-- Day -->
    @case (CalendarView.Day) {
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    }
  }
</div>
