<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<div style="text-align: center;">

    <h1>Life is a Mystree</h1>
</div>

<div fx>
    <p>
        Our creators decided to make a board game that could help people through the most stressful time of their lives
        -
        when the netflix skip intro button starts playing and you scramble to press it before it disappears and the
        whole
        intro starts – I've received word that that’s not it, the actual most stressful time is:
    </p>
    <p>
        The end of university and the start of the rest of your life.
    </p>
    <p>
        And that’s where [Life is a Mystree] comes in. With a board that looks like a tree and cards that look like
        cards,
        this board game is for all of you who feel like you need a sense of direction, or want to explore the weird and
        fascinating ways in which life works.
    </p>
    <p>
        We start off with our players receiving three value cards each. This could be anything from "accepting my lot”
        to
        “freedom”, “equality” to “social power”. They move around the board, picking up cards according to the colour of
        the
        tile they land on and must choose what to keep based on those three values mentioned earlier.
    </p>
</div>


<div>
    <p>
        <b>
            Play Online here:
        </b>
    </p>
    <iframe width="680" height="340" frameborder="0" allowtransparency="true" scrolling="no"
        src="https://tabletopia.com/workshop/widget/life-is-a-mystree-nzpph3/680x340"></iframe>
</div>

<div>
    <h3>Contact us</h3>
    <p>
        Register your interest
        <a href="mailto:0a067e82.student.uts.edu.au@apac.teams.ms">here</a>
    </p>
</div>