<div>
  <hr />

  <h1>Professional Experience</h1>

  <div class="filter-row">
    <div class="filter-header">
      <span>Filter by skill:</span>
      <button mat-stroked-button type="button" (click)="clearTagFilter()" [disabled]="selectedTags.length === 0">Clear</button>
    </div>
    <span class="filter-state" *ngIf="selectedTags.length === 0">All skills</span>
    <mat-chip-listbox class="filter-chips" [multiple]="true">
      <mat-chip-option
        class="filter-chip"
        *ngFor="let tag of tags$ | async"
        [selected]="isTagSelected(tag)"
        (click)="onTagChange(tag)"
      >
        {{tag}}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div *ngFor="let job of jobs$ | async">
    <div>
      <b>{{job.data.role}}</b> <br />

      {{job.data.company}}: {{job.data.startDate | date:'MMM y'}} - {{job.data.endDate ? (job.data.endDate | date:'MMM y') : 'Present'}}

      <div class="tag-list">
        <span class="tag-chip" *ngFor="let tag of job.data.tags">{{tag}}</span>
      </div>

      <ul>
        <li *ngFor="let description of job.data.description">{{description}}</li>
      </ul>

    </div>
  </div>
</div>
